body {
    background-color: #2d2c30;
    color: #e1daf5;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #e1daf5;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-section img {
    max-width: 100%;
    height: auto;
  }
  
  .hero-section h1 {
    font-size: 20px;
  }
  
  section:not(.hero-section) h2 {
    font-size: 16px;
  }
  